# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

birdy=0.8.4=pyh1a96a4e_0
fiona=1.9.4=py39h2bf661d_0
folium=0.14.0=pyhd8ed1ab_0
geopandas=0.13.2=pyhd8ed1ab_1
matplotlib-base=3.7.1=py39haf65ace_0
numpy=1.25.2=py39h816b6a6_0
pandas=2.1.0=py39h32e6231_0
pysheds=0.3.5=py39ha55989b_1
python=3.9.18=h1aa4202_0
rabpro=0.5.2=pyhd8ed1ab_0
ravenpy=0.12.2=py311h1ea47a8_0
whitebox_tools=2.3.0=py39hf21820d_0
